.image-swiper-container {
  width: 100%;
  margin: auto;
  margin-bottom: 8px;
}

.main-swiper {
  width: 100%;
  height: 320px;
  aspect-ratio: 1 / 1;
  background-color: #d2d2d2;
}

.main-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-swiper .swiper-pagination.swiper-pagination-fraction {
  position: absolute;
  bottom: 15px;
  right: 15px;
  left: auto;

  width: 45px;
  height: 28px;

  background-color: rgba(0, 0, 0, 0.6);
  color: white;

  border-color: #e5e7eb;
  border-radius: 9999px;
  padding: 4px;

  font-size: 14px;
  font-weight: 400;
}

.thumbnail-swiper {
  height: 96px;
  padding: 16px;
  background-color: white;
}

.thumbnail-swiper .swiper-slide {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.6;
  transition:
    opacity 0.2s ease,
    border 0.2s ease;
  border: 2px solid transparent;
}

.thumbnail-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-swiper .swiper-slide-thumb-active {
  opacity: 1;
  border-color: #fe0a58;
}

.placeholder-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #d2d2d2;
  color: #878a95;
}
